# this is the requirements.txt file...

#
# DEVELOPMENT / PRODUCTION
#

python-dotenv
pgeocode
pandas
requests
sendgrid==6.6.0

Flask
gunicorn #Heroku wants to use this to run the production web server (as specified in the Procfile)


#
# TEST
#

pytest
